	<!-- Footer -->
	<footer>
    <div class="container">
      <div class="top-footer">
        <div class="row">
          <div class="col-md-4">
            <a href="index.php" class="footer-logo"><img src="../../assets/images/logo.png" alt="Footer Logo" /></a>
          </div>
          <div class="col-md-5 footer-menu">
            <h5>Menu</h5>
            <ul>
              <li><a href="about_us.php">About us</a></li>
              <li><a href="https://www.medcohere.com/blog/">Blog</a></li>
              <li><a href="demo.php">Demo</a></li>
              <li><a href="privacypolicy.php">Privacy Policy</a></li>
              <li><a href="contact_us.php">Support</a></li>
              <li><a href="solution.php">Solutions</a></li>
              <li><a href="termsandconditions.php">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Social Networks</h5>
            <ul class="social-icon">
                          <li><a class="facebook" href="https://www.facebook.com/MedCohere/" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                          <li><a class="twitter" href="https://twitter.com/medcohere?lang=en" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                          <li><a class="linkedin" href="https://www.linkedin.com/company/medcohere" target="_blank"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                      </ul>
          </div>
        </div>
      </div>
      <div class="copyright">Copyright © 2019 | Medcohere, Inc | All Rights Reserved</div>
    </div>
</footer>
