<div class="main">
  <section class="mail-sec  ">
    <div class="container">
      <h2 class="main-title white-title padding-top-five">
        Find doctors near your location
      </h2>

      <form action="#" method="post">
        <div class="col-lg-12 ">
          <div class="row ">
            <div class="col-lg-1 col-md-1 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-0 input-icons">
              <div class="ng-autocomplete">
                <ng-autocomplete
                  #ngAutoCompleteStatic
                  [data]="countriesTemplate"
                  name="name"
                  [initialValue]=""
                  [placeHolder]="placeholder"
                  [searchKeyword]="keyword"
                  historyIdentifier="countriesTemplateList"
                  [historyHeading]="historyHeading"
                  historyListMaxNumber="3"
                  notFoundText="Not found"
                  [itemTemplate]="itemTemplateStatic"
                  [notFoundTemplate]="notFoundTemplate"
                >
                </ng-autocomplete>

                <ng-template #itemTemplateStatic let-item>
                  <a [innerHTML]="item"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 p-0 input-icons">
              <input
                type="text"
                class="form-control search-slt input-field"
                placeholder="Zip code or City"
              />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
              <a
                href="book_appointment.html"
                role="button"
                aria-pressed="true"
                class="btn btn-danger wrn-btn bookbtn"
                >Search</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
