<div class="main">
	<section class="mail-sec  ">
		<div class="container">
			<h2 class="main-title white-title padding-top-five">Find doctors near your location</h2>


				<form action="#" method="post">
					<div class="col-lg-12 ">

						<div class="row ">
							<div class="col-lg-1 col-md-1 col-sm-12"></div>
							<div class="col-lg-6 col-md-6 col-sm-12 p-0 input-icons">
								<i class="fa fa-search icon mlt_icon"></i>
									<select id="select2-multiple-input-sm" class="form-control input-sm select2-multiple select2-multiple  search-slt mainLoginInput input-field" required="">
										<option>Doctors, Specialty , Condition , Procedure</option>
										hai
										<option>Dentist</option>
										<option>Cardiology</option>
										<option>Dermatologist</option>
										<option>ENT</option>
										<option>Gastroenterologist</option>
										<option>Doctor-1</option>
										<option>Doctor-2</option>
										<option>Doctor-3</option>
										<option>Onocology</option>
										<option>Emergency</option>
										jeehdej
										<option>Pre-medication</option>
										<option>Post-medication</option>
										<option>Normal</option>
										<option>Diagnosis</option>
										<option>Procedure-1</option>
										<option>Procedure-2</option>
										<option>Procedure-3</option>
									</select>
								</div>


						<div class="col-lg-2 col-md-2 col-sm-12 p-0 input-icons">
								<i class="fas fa-map-marker icon mlt_icon"></i>
					 <input type="text" class="form-control search-slt input-field" placeholder="Zip code or City">

						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 p-0">
								<a href="book_appointment.html" role="button" aria-pressed="true" class="btn btn-danger wrn-btn bookbtn">Search</a>
						</div>
					</div>
					</div>
				</form>
			</div>
		</section>


</div>
