<div class="main">
  <section class="mail-sec  ">
    <div class="container">
      <h2 class="main-title white-title padding-top-five">
        Find doctors near your location
      </h2>

      <form action="#" method="post">
        <div class="col-lg-12 ">
          <div class="row ">
            <div class="col-lg-1 col-md-1 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-0 input-icons">
              <div class="ng-autocomplete">
                <ng-autocomplete
                  #ngAutoCompleteStatic
                  [data]="countriesTemplate"
                  name="title"
                  [initialValue]=""
                  [placeHolder]="placeholder"
                  [searchKeyword]="keyword"
                  historyIdentifier="countriesTemplateList"
                  [historyHeading]="historyHeading"
                  historyListMaxNumber="3"
                  notFoundText="Not found"
                  [itemTemplate]="itemTemplateStatic"
                  [notFoundTemplate]="notFoundTemplate"
                >
                </ng-autocomplete>

                <ng-template #itemTemplateStatic let-item>
                  <a [innerHTML]="item.title"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 p-0 input-icons">
              <input
                type="text"
                class="form-control search-slt input-field"
                placeholder="Zip code or City"
              />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
              <a
                href="book_appointment.html"
                role="button"
                aria-pressed="true"
                class="btn btn-danger wrn-btn bookbtn"
                >Search</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="profile_divider">
        <div class="row">
          <div class="media col-md-2">
            <div class="row">
              <div class="col-auto mr-auto">
                <figure class="pull-left">
                  <img
                    class="media-object img-rounded img-responsive imgwh-130px"
                    src="../../assets/images/dr-f.jpg"
                    alt="placehold.it/350x250"
                  /><br />
                </figure>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class=" btn btn-outline-primary "
                  >View Profile</a
                >
              </div>
            </div>
          </div>

          <div class="col-md-10 footer-menu">
            <div class="row">
              <div class="col-auto mr-auto">
                <h5>DR. FirstName Lastname</h5>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class="btn btn-md  btn-outline-danger"
                  >Book Appointment</a
                >
              </div>
            </div>

            <p>
              Dr. FirstName is a robotics certified Gynaecologist specializing
              in minimally invasive gynecologic surgeries. She has been
              recognized for her compassion as well as her commitment to quality
              of care
            </p>
            <ul>
              <li>
                Google Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"> </rating>
              </li>
              <li>
                Clinic Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Services<br />
                <a> Board Certified<br /> </a>
              </li>
              <li class="subscriber_book"><a>Schedule Now</a></li>
              <a> </a>

              <li>
                Medcohere Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"></rating>
              </li>
              <li>
                Contact Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Google API<br />
                <a> <span>Google API to b placed </span> </a>
              </li>
              <!-- <li>

                Medcohere Review<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </li>
              <li>

                Contact Details<br>
                <a>
                  305 7th Avenue 10th floor<br>
                  New York, New York 10001
                </a>

              </li>
              <li>

                Google API<br>
                <a> <span>Google API to b placed </span>
                </a>


              </li> -->

              <!-- <li><a href="solution.php">Solutions</a></li>

              <li><a href="termsandconditions.php">Terms and Conditions</a></li> -->
            </ul>
          </div>
          <!-- <div class="col-md-3">
            <h5>Social Networks</h5>
            <ul class="social-icon">
              <li><a class="facebook" href="https://www.facebook.com/MedCohere/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/medcohere?lang=en" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/medcohere"
                  target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="profile_divider">
        <div class="row">
          <div class="media col-md-2">
            <div class="row">
              <div class="col-auto mr-auto">
                <figure class="pull-left">
                  <img
                    class="media-object img-rounded img-responsive imgwh-130px"
                    src="../../assets/images/dr-f.jpg"
                    alt="placehold.it/350x250"
                  /><br />
                </figure>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class=" btn btn-outline-primary "
                  >View Profile</a
                >
              </div>
            </div>
          </div>

          <div class="col-md-10 footer-menu">
            <div class="row">
              <div class="col-auto mr-auto">
                <h5>
                  DR. FirstName Lastname
                  <span class="unsubscriber_book"> (Non-subscriber) </span>
                </h5>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class="btn btn-md btn btn-outline-danger"
                  >Book Appointment</a
                >
              </div>
            </div>

            <p>
              Dr. FirstName is a robotics certified Gynaecologist specializing
              in minimally invasive gynecologic surgeries. She has been
              recognized for her compassion as well as her commitment to quality
              of care
            </p>
            <ul>
              <li>
                Google Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"> </rating>
              </li>
              <li>
                Clinic Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Services<br />
                <a> Board Certified<br /> </a>
              </li>
              <li class="unsubscriber_book"><a>Request Appointment</a></li>
              <a> </a>

              <li>
                Medcohere Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"> </rating>
              </li>
              <li>
                Contact Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Google API<br />
                <a> <span>Google API to b placed </span> </a>
              </li>
              <!-- <li>

                Medcohere Review<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </li>
              <li>

                Contact Details<br>
                <a>
                  305 7th Avenue 10th floor<br>
                  New York, New York 10001
                </a>

              </li>
              <li>

                Google API<br>
                <a> <span>Google API to b placed </span>
                </a>


              </li> -->

              <!-- <li><a href="solution.php">Solutions</a></li>

              <li><a href="termsandconditions.php">Terms and Conditions</a></li> -->
            </ul>
          </div>
          <!-- <div class="col-md-3">
            <h5>Social Networks</h5>
            <ul class="social-icon">
              <li><a class="facebook" href="https://www.facebook.com/MedCohere/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/medcohere?lang=en" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/medcohere"
                  target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="profile_divider">
        <div class="row">
          <div class="media col-md-2">
            <div class="row">
              <div class="col-auto mr-auto">
                <figure class="pull-left">
                  <img
                    class="media-object img-rounded img-responsive imgwh-130px"
                    src="../../assets/images/dr-f.jpg"
                    alt="placehold.it/350x250"
                  /><br />
                </figure>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class=" btn btn-outline-primary "
                  >View Profile</a
                >
              </div>
            </div>
          </div>

          <div class="col-md-10 footer-menu">
            <div class="row">
              <div class="col-auto mr-auto">
                <h5>DR. FirstName Lastname</h5>
              </div>
              <div class="col-auto">
                <a
                  href="view_profile.html"
                  role="button"
                  aria-pressed="true"
                  class="btn btn-md btn btn-outline-danger"
                  >Book Appointment</a
                >
              </div>
            </div>

            <p>
              Dr. FirstName is a robotics certified Gynaecologist specializing
              in minimally invasive gynecologic surgeries. She has been
              recognized for her compassion as well as her commitment to quality
              of care
            </p>
            <ul>
              <li>
                Google Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"> </rating>
              </li>
              <li>
                Clinic Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Services<br />
                <a> Board Certified<br /> </a>
              </li>
              <li class="subscriber_book"><a>Schedule Now</a></li>
              <a> </a>

              <li>
                Medcohere Review<br /><br />
                <rating [(ngModel)]="starsCount" [readonly]="true"> </rating>
              </li>
              <li>
                Contact Details<br />
                <a>
                  305 7th Avenue 10th floor<br />
                  New York, New York 10001
                </a>
              </li>
              <li>
                Google API<br />
                <a> <span>Google API to b placed </span> </a>
              </li>
              <!-- <li>

                Medcohere Review<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>

              </li>
              <li>

                Contact Details<br>
                <a>
                  305 7th Avenue 10th floor<br>
                  New York, New York 10001
                </a>

              </li>
              <li>

                Google API<br>
                <a> <span>Google API to b placed </span>
                </a>


              </li> -->

              <!-- <li><a href="solution.php">Solutions</a></li>

              <li><a href="termsandconditions.php">Terms and Conditions</a></li> -->
            </ul>
          </div>
          <!-- <div class="col-md-3">
            <h5>Social Networks</h5>
            <ul class="social-icon">
              <li><a class="facebook" href="https://www.facebook.com/MedCohere/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/medcohere?lang=en" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/medcohere"
                  target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</div>
